<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.edwinharen.gymdyr">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity android:name=".BMI"
                  android:label="BMI"
            android:parentActivityName=".BMI"></activity>

        <activity android:name=".Timer"
            android:label="TIMER"
            android:parentActivityName=".Timer"></activity>

        <activity android:name=".DetailsActivity"
            android:label="DETAILSACTIVITY"
            android:parentActivityName=".DetailsActivity"></activity>

        <activity android:name="GridViewAdapter"
            android:label="GRIDVIEWADAPTER"
            android:parentActivityName=".GridViewAdapter"></activity>

        <activity android:name=".ImageItem"
            android:label="IMAGEITEM"
            android:parentActivityName=".ImageItem"></activity>
        <activity
            android:name=".MediaPlayer"
            android:screenOrientation="portrait"
            android:label="@string/app_name" ></activity>

    </application>

</manifest>
